.background {
    position: relative;
    background-color: #71bfff;
    height: 820px;
    width: 1350px;
  }

p {
    position: absolute;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    top: 180px;
    margin-left: 74px;
    left: 40px;

}
.rectangle {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: #ffffff;
    width: 70em;
    height: 40em;

}
  .left {
    width: 580px;
    height: 640px;
    background: #e1f4ff;
    float: left;
  }

  .left > h1{
    position: absolute;
    width: 258px;
    height: 25px;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    top: -10px;
  }

.rectangle-55 {
    position: absolute;
    width: 500px;
    height: 272px;
    background-color: #ffffff;
    left: 40px;
    top: 150px;
}




.tags {
    position: absolute;
    top: 80px;
    left: 0px;
}

.bottom {

}

input[type='range'] {
    position: absolute;
    left:40px;
    top: 60px;
    width: 420px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 420px;
    height: 4px;
    background: #d1e3f2;
}
input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 27.7px;
    width: 14px;
    margin-top: -12px;
    background: #006bcc;
    border-radius: 5px;
}
    input[type='range']::-webkit-slider-thumb::before {
      position: absolute;
      content: '';
      height: 20px; /* equal to height of runnable track */
      width: 500px; /* make this bigger than the widest range input element */
      left: -502px; /* this should be -2px - width */
      top: 8px; /* don't change this */
      background: #777;
    }
    .quote {
        position: absolute;
        top: 198px;
        left: 80px;
    }

    .body1:hover {
        border: 3px solid #71bfff;
        border-radius: 8px;

    }


    .bodies{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      background: #ffffff;
      width: 240px;
      height: 90px;
      right: 100px;
      top: 100px;
    }

    .bottom-left{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 40px;
        top: 526px;
    }

  .bottom-left > h1 {
    position: absolute;
    width: 61px;
    height: 25px;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    left: -41px;
    top: -151px;
  }

  .bottom-right > h1 {
    position: absolute;
    width: 61px;
    height: 25px;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    left: -41px;
    top: -151px;
  }

  .bottom-right{
      position: absolute;

      left: 300px;
      top: 526px;
  }
  .text-input{

  }
  .txt1{
    position: absolute;
    top: 100px;
    left: 40px;
    width: 46px;
  height: 16px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }
  .txt2{
    position: absolute;
    top: 100px;
    left: 230px;
    width: 46px;
  height: 16px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }

  .txt3{
    position: absolute;
    top: 100px;
    left: 420px;
    width: 46px;
  height: 16px;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  }
.tag-1 {
    position: absolute;
    width: 88.8px;
    height: 35.1px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 750px;
    top: -10px;

}
.tag-2 {
    position: absolute;
    width: 66.6px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 850px;
    top: -3px;
}
.tag-3{
    position: absolute;
    width: 88.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 702px;
    top: 51px;
}
.tag-4{
    position: absolute;
    width: 111.5px;
    height: 38.9px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 805px;
    top: 45px;
}
.tag-5{
    position: absolute;
    width: 40.7px;
    height: 26px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 930px;
    top: -13px;
}
.tag-6{
    position: absolute;
    width: 33.3px;
    height: 25.4px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 920px;
    top: 68px;
}
.tag-7{
    position: absolute;
    width: 66.6px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;

    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 740px;
    top: 100px;
}
.tag-8{
    position: absolute;
    width: 47.1px;
    height: 26.4px;
    border-radius: 5px;
    background-color: #006bcc;

    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 900px;
    top: 100px;
}
.tag-9{
    position: absolute;
    width: 50.7px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 995px;
    top: 70px;
}
.tag-10{
    position: absolute;
    width: 73.1px;
    height: 43.3px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 820px;
    top: 95px;
}
.tag-11{
    position: absolute;
    width: 107.1px;
    height: 40.4px;
    border-radius: 5px;
    background-color: #006bcc;

    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 930px;
    top: 20px;
}

.tag-12{
    position: absolute;
    width: 49.3px;
    height: 29.2px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 980px;
    top: -24px;
}
.tag-13{
    position: absolute;
    width: 26px;
    height: 20.7px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 920px;
    top: 140px;
}
.tag-14{
    position: absolute;
    width: 88.2px;
    height: 30.2px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 836px;
    top: 147px;
}
.tag-15{
    position: absolute;
    width: 45.7px;
    height: 29.2px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 770px;
    top: 147px;
}
.tag-16{
    position: absolute;
    width: 60.3px;
    height: 35.7px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 967px;
    top: 112px;
}
.tag-17{
    position: absolute;
    width: 88.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 652px;
    top: 11px;
}
.tag-18{
    position: absolute;
    width: 68.8px;
    height: 23.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 972px;
    top: 158px;
}
.tag-19{
    position: absolute;
    width: 68.8px;
    height: 23.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 1042px;
    top: 151px;
}
.tag-20{
    position: absolute;
    width: 68.8px;
    height: 23.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 1052px;
    top: 21px;
}
.tag-21{
    position: absolute;
    width: 68.8px;
    height: 26.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 842px;
    top: -44px;
}
.tag-22{
    position: absolute;
    width: 78.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 1042px;
    top: 61px;
}
.tag-23{
    position: absolute;
    width: 68.8px;
    height: 23.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 1002px;
    top: 31px;
}
.tag-24{
    position: absolute;
    width: 88.8px;
    height: 43.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 1042px;
    top: -31px;
}
.tag-25{
    position: absolute;
    width: 78.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 1042px;
    top: 111px;
}
.tag-26{
    position: absolute;
    width: 78.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 893px;
    top: 177px;
}
.tag-27{
    position: absolute;
    width: 98.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 642px;
    top: -41px;
}
.tag-28{
    position: absolute;
    width: 78.8px;
    height: 33.8px;
    border-radius: 5px;
    background-color: #006bcc;
    font-family: Segoe UI;
    font-size: 0.5rw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 642px;
    top: 94px;
}
.tagss{
    display: none;

}
.tagsss {
    display: none;

}
    h1 {
        margin-left: 40px;
        margin-top: 98px;
    }
    .macbook {
        position: absolute;

        top: 463px;
        width: 356px;
        height: 130px;
        left: 700px;
    }

    .body11{

        position: absolute;

        width: 202px;
        height: 277px;

        top: 290px;
        left: 770px;
    }
    .body22{
        display:none;
        position: absolute;

        width: 202px;
        height: 277px;

        top: 290px;
        left: 770px;

    }
    .body33{
        display: none;
        position: absolute;

        width: 202px;
        height: 277px;

        top: 290px;
        left: 770px;
    }

    .face11{
        position: absolute;

        top: 380px;
        left: 820px;
    }
    .face22{
    position: absolute;
        display:none;
    top: 380px;
    left: 800px;
    }
     .face33{
    position: absolute;
         display:none;
    top: 380px;
    left: 820px;
    }
    .body1 {

      width: 60px;
      height: 60px;
      border: 2px solid #d6d6d6;
      border-radius: 8px;
    }
    .tap1 {
      position: absolute;
      left: 18px;
      top: 29px;
    }
    .tap2 {
      position: absolute;
      left: 98px;
      top: 29px;
    }
    .tap3 {
      position: absolute;
      left: 182px;
      top: 29px;
    }

    .tap1face {
      position: absolute;
      left: 23px;
      top: 37px;
    }
    .tap2face {
      position: absolute;
      left: 96px;
      top: 40px;
    }
    .tap3face {
      position: absolute;
      left: 183px;
      top: 34px;
    }
    .show {
      display: block;
    }


    @media screen and (max-width: 480px) {
  body{
    width: 100%;
    height: 1248px;
  background-color: #ffffff;
margin: 0;

  }

  .background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 703px;
  }
  .background > .rectangle > .left{
    width: 100%;

  background-color: #ffffff;

    top: -290px;
    right:300px;
    ;
  }
  .quote {
    position: absolute;
    top:170px;
    left: -20px;
  }
  p {

position: absolute;
left: -50px;
top: 150px;
width: 224px;
  height: 73px;
  }
  .right{
    position: absolute;
    top: 500px;
    right: 1000px;
    width: 100%;
  }
      .rectangle{
        position: absolute;
        top:10px;
        left: 10px;
        width: 300px;
      height: 683px;
      }
      .rectangle-55{
        position: absolute;
        width: 260px;
        height: 20px;
        top: 80px;
        right: 90px;
        background-color: none;
      }
      .bottom-right{
        position: absolute;
        top: 580px;
        left: 20px;
      }
      .bottom-left{
        position: absolute;
        top: 410px;
        left: 20px;
      }
      .rectangle-55 > input{
        position: absolute;
        width: 260px;

        top: 30px;
        left: -20px;
      }
      .txt1{
        position: absolute;
        left: -20px;
        top:80px;
      }
      .txt2{
        position: absolute;
        left: 90px;
        top:80px;
      }
      .txt3{
        position: absolute;
        left: 200px;
        top:80px;
      }
      .left > h1{
        position: absolute;
        width: 258px;
        height: 25px;
        font-family: Segoe UI;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        top: -50px;
        left: -20px;
        z-index: 10;
      }
      .body {
        position: absolute;

        width: 100%;
        height: 216.1px;

        top: 190px;
        left: 290px;
      }
      .body11{

          position: absolute;

          width: 157.6px;
          height: 216.1px;

          top: 250px;
          left: 780px;
      }
      .body22{

          position: absolute;

          width: 157.6px;
          height: 216.1px;

          top: 250px;
          left: 780px;
      }
      .body33{

          position: absolute;

          width: 157.6px;
          height: 216.1px;

          top: 250px;
          left: 780px;
      }

      .face11{
          position: absolute;
          width: 80px;
          height: 50px;
          top: 510px;
          left: 1108px;
      }
      .face22{
        position: absolute;
        width: 80px;
        height: 30px;
        top: 510px;
        left: 1108px;
      }
       .face33{
         position: absolute;
         width: 80px;
         height: 50px;
         top: 510px;
         left: 1108px;
      }
      .tags{
        position: absolute;
        left: 490px;
        top: 280px;
        width: 100%;
        transform: scale(0.7);
      }
      .tag-27 {
        left: 680px;
      }
      .tag-28{
        left: 670px;
      }

      .macbook{
          position: absolute;
          top: 583px;
          width: 280px;
          height: 100px;
          left: 1010px;
      }

    }
